.destination {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0d0f1c;
  z-index: 0;
}

.destination .background {
  position: absolute;
  z-index: -1;
  background-image: url("../../assets/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}
