.technology {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0d0f1c;
  z-index: 0;
}

.technology .background {
  position: absolute;
  z-index: -1;
  background-image: url("../../assets/backgrounds/background-technology-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.technology-body {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  box-sizing: border-box;
}

.technology-container {
  height: 66vh;
  display: flex;
  padding-bottom: 10vh;
  box-sizing: border-box;
  align-items: center;
  gap: 24px;
}

.technology-container .nav {
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.technology-container .button {
  width: 80px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 99px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.technology-container .button.selected {
  background-color: white;
  border-color: white;
}

.technology-container .button:hover {
  border-color: white;
}

.technology-container .button.selected h4 {
  color: #0b0d17;
}

.technology-container .img-container,
.technology-container .tech-info-container {
  width: 50%;
}

.tech-info-container {
  display: flex;
  gap: 40px;
}

.technology-container .img-container img {
  height: 54vh;
  width: 100%;
  object-fit: cover;
}

.technology-container .img-container .tablet-mobile {
  display: none;
}

.tech-info-container .infos {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 992px) {
  .technology .background {
    background-image: url("../../assets/backgrounds/background-technology-tablet.jpg");
  }

  .technology-body {
    padding-left: 0vw;
  }

  .technology-body .headline {
    padding-left: 10vw;
    box-sizing: border-box;
  }
  .technology-container {
    flex-direction: column-reverse;
    padding-bottom: 0vh;
    justify-content: space-between;
  }

  .technology-container .img-container {
    width: 100%;
  }

  .technology-container .img-container img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  .technology-container .img-container .desktop {
    display: none;
  }

  .technology-container .img-container .tablet-mobile {
    display: flex;
  }

  .technology-container .tech-info-container {
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }

  .technology-container .nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    justify-content: center;
  }

  .tech-info-container .infos {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .technology-body .headline {
    padding-left: 4vw;
  }
  .technology .background {
    background-image: url("../../assets/backgrounds/background-technology-mobile.jpg");
  }

  .technology-container .img-container img {
    height: 20vh;
  }

  .technology-container .nav .button {
    width: 40px;
    height: 40px;
  }

  .technology-container .nav {
    height: 40px;
  }
  .technology-container {
    height: 76vh;

    padding-bottom: 4vh;
  }
}
