.home {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0d0f1c;
  z-index: 0;
}

.home .background {
  position: absolute;
  z-index: -1;
  background-image: url("../../assets/backgrounds/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.home-body {
  height: 80vh;
  padding: 10vh 10vw;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
}

.home .home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 600px;
}
.home-button-container {
  position: relative;
  z-index: 10;
}

.home-button-container a {
  text-decoration: none;
}

.home-button {
  width: 272px;
  height: 272px;
  background-color: white;
  border-radius: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

.home-button h4 {
  color: black;
}

.btn-background {
  position: absolute;
  width: 44px;
  height: 44px;
  opacity: 0.5;
  background-color: white;
  top: 50%;
  left: 50%;
  border-radius: 400px;
  z-index: -1;
  transition: ease 500ms;
}

.btn-background.hovered-btn {
  width: 448px;
  height: 448px;
  top: -88px;
  left: -88px;
}

@media (max-width: 992px) {
  .home .background {
    background-image: url("../../assets/backgrounds/background-home-tablet.jpg");
  }

  .home-body {
    height: 90vh;
  }

  .home .home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .home-description {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .home-body {
    padding: 5vh 10vw;
  }
  .home .background {
    background-image: url("../../assets/backgrounds/background-home-mobile.jpg");
  }

  .home-description h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    letter-spacing: 15%;
  }

  .home-description h1 {
    font-family: "Bellefair", serif;
    font-size: 80px;
    letter-spacing: 15%;
  }

  .home-description p {
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    line-height: 180%;
  }

  .home-button {
    width: 144px;
    height: 144px;
  }

  .home-button h4 {
    font-family: "Bellefair", serif;

    font-size: 18px;
  }

  .btn-background.hovered-btn {
    width: 320px;
    height: 320px;
    top: -88px;
    left: -88px;
  }
}
