.nav-container {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 200px;
  display: flex;
  justify-content: center;
}

.nav-container .center {
  background-color: #979797;
  height: 1px;
  opacity: 0.25;
  width: 40vw;
}

.menu-container {
  background-color: rgb(255, 255, 255, 0.05);
  backdrop-filter: blur(80px);
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  height: 96px;
}

.menu-container-mobile {
  display: none;
}

.menu-container div {
  display: flex;
  align-items: center;
  border: 3px solid transparent;
  cursor: pointer;
}

.menu-container div.selected,
.menu-container div.selected:hover {
  border-bottom-color: white;
}
.menu-container div:hover {
  border-bottom-color: rgb(255, 255, 255, 0.4);
}

.menu-container p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 96px;
}

.menu-container a {
  text-decoration: none;
}

@media (max-width: 992px) {
  .nav-container {
    height: 10vh;
  }
  .nav-container .center {
    width: 0vw;
  }
  .menu-container {
    width: 80vw;
    height: 10vh;
  }
}

@media (max-width: 768px) {
  .logo-container {
    width: 100px;
    display: flex;
    justify-content: center;
  }

  .menu-container {
    display: none;
  }

  .menu-container-mobile {
    display: flex;
    justify-content: center;
    width: 80px;
  }

  .menu-container-mobile img {
    width: 30px;
  }

  .menu-mobile-displayed {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(80px);
    z-index: 10;
  }

  .menu-mobile-displayed .icon-container {
    display: flex;
    justify-content: flex-end;
    padding: 32px 24px;
  }

  .menu-mobile-displayed .mobile-element {
    margin-bottom: 24px;
    margin-left: 24px;
    cursor: pointer;
    border-right: 3px solid transparent;
  }

  .menu-mobile-displayed .mobile-element.selected,
  .menu-mobile-displayed .mobile-element.selected:hover {
    border-right: 3px solid white;
  }

  .menu-mobile-displayed .mobile-element:hover {
    border-right-color: rgb(255, 255, 255, 0.4);
  }

  .menu-mobile-displayed {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 19.2%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .menu-mobile-displayed span {
    font-weight: 600;
  }

  .menu-mobile-displayed a {
    text-decoration: none;
  }
}
