.crew {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0d0f1c;
  z-index: 0;
}

.crew .background {
  position: absolute;
  z-index: -1;
  background-image: url("../../assets/backgrounds/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.crew-body {
  display: flex;
  flex-direction: column;
  padding: 0vh 10vw;
  box-sizing: border-box;
}

.crew-container {
  display: flex;
}

.crew-container .infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.crew-container .explaination {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
}

.crew-container > div {
  width: 50%;
}

.crew-container img {
  display: block;
  margin: auto;
  height: 55vh;
  max-width: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.crew-nav {
  display: flex;
  gap: 40px;
}

.crew-nav .bubble {
  width: 15px;
  height: 15px;
  background-color: #979797;
  border-radius: 99px;
  cursor: pointer;
}

.crew-nav .bubble.selected {
  background-color: white;
}

@media (max-width: 992px) {
  .crew .background {
    background-image: url("../../assets/backgrounds/background-crew-tablet.jpg");
  }

  .crew-container {
    flex-direction: column;
    gap: 4vh;
    align-items: center;
  }

  .crew-container > div {
    width: 100%;
  }

  .crew-container .infos {
    gap: 4vh;
    text-align: center;
    width: 75vw;
  }

  .crew-nav {
    justify-content: center;
    gap: 16px;
  }

  .crew-container img {
    display: block;
    margin: auto;
    max-height: 40vh;
  }

  .crew-nav .bubble {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 768px) {
  .crew .background {
    background-image: url("../../assets/backgrounds/background-crew-mobile.jpg");
  }
  .crew-body {
    padding: 0vh 4vw;
  }
  .crew-container img {
    display: block;
    margin: auto;
    height: 20vh;
  }
}
